{% extends "diary/base.html" %}


{% block title %}サインアップ | Private Diary{% endblock %}
{% block active_signup %}active{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="my-div-style">
        <h1>サインアップ</h1>
        <form method="post" action="{% url 'account_signup'%}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
            <input type="hidden" name='{{redurect_frield_name}}' value="{{redirect_field_value}}"/>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}





